@{
    ViewData["Title"] = "Home";
}
@model ProjectListViewModel  

<br />
<br />
<!--NEW BOOSTRAP CLASSES: I added 'table-bordered' and 'table-striped' to alternate colors of every other row and add borders to each row/column.
                            I also added 'thead-dark' to give the header of the table a dark background
                            and 'shadow' and 'rounded' to add a shadow to a div on the _layout razor page-->
<table class="table table-bordered table-striped table-sm">
    <thead class="thead-dark">
        <tr><th >ID</th><th>Title</th><th>Author</th><th>Publisher</th><th>ISBN</th><th>Categories</th><th>Pages</th><th>Price</th></tr>
    </thead>
    <tbody>
        @foreach (var b in Model.Books)
        {
            <partial name="BookSummary" model="b" />    // passes each book (b) in the iteration as the model in the BookSummary partial view
        }
    </tbody>
</table>
<br />
<br />
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" 
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1" align="center"></div>

<div asp-validation-summary="All"></div>



